{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %} ">
</head>
<body style="position: relative; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%)">
<h1>Index</h1>

<img src="{% static 'images/logoDjango.png' %}" width="150" height="150" alt="Logo">

<a href="contato">Contato</a>

<h2>{{ curso }}</h2>

<table>
    <thead>
    <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Estoque</th>
    </tr>
    </thead>
    <tbody>
    {% for produto in produtos %}
        <tr>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button onclick="teste();">Clique-me</button>

<script type="application/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>